@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

body {
  background-color: #f1f1f1;
  color: #0f141e;

  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}
a {
  color: rgb(10, 6, 0);
  text-decoration: none;
}
a:hover {
  text-decoration: line-through;
}
a:active {
  color: rgb(9, 9, 122);
}
a:visited {
  color: grey;
}

.avatar {
  width: 200px;
  border-radius: 28px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}
.info {
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .info {
    text-align: center;
    display: block;
  }
}

.info-text {
  margin-left: 40px;
}
.info-text h4 {
  margin-bottom: 10px;
}
.info p {
  color: #86898f;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  /* text-transform: none; */
  /* word-spacing: 42px; */
}
.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}
/* Box model */

/* .social { */
/* background: rgb(60, 255, 0); */
/* padding: 15px; */
/* border: 5px solid red; */
/* border-bottom-style: dotted; 
  border-top-width: 12px;
  border-left-width: 15px;
  border-left-color: rgb(43, 43, 194);
  margin: 20px 5px 15px 5px;
}*/
/* .box-model > div { 
  float: left;
  background: black;
  height: 200px;
  border: 4px solid rgb(126, 27, 27);
  width: 25%;
  box-sizing: border-box;
}*/

.bg-yellow {
  background: rgb(195, 195, 94);
}
.bg-green {
  background: greenyellow;
}
.bg-red {
  background: rgb(239, 218, 218);
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.card h2 {
  margin-bottom: 10px;
  color: black;
}
.list {
  padding: 0 20px;
}
.list li {
  color: #86898f;
  margin-bottom: 10px;
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}
.table td:nth-child(2),
.table td:nth-child(3) {
  color: #86898f;
}
.ups {
  list-style: square;
  padding: 0;
}
.ups li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.contact h2 {
  text-align: center;
}
.form-group label {
  display: block;
  font: size 14px;
  color: #86898f;
}
.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  /* background: transparent; */
  border-botton: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}
.row {
  display: flex;
  margin-bottom: 20px;
}
.row > .form-group {
  width: 50%;
  margin-bottom: 20px;
}
.row > .form-group:last-child {
  margin-right: 0;
}
.btn {
  margin-top: 10px;
  background: #111;
  padding: 15px 20px;
  color: #fff;
  border: none;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}
/* Position */
/* 
.position {
  position: relative;
  border: 4px solid #111;
  margin-top: 40px;
  padding: 20px;
  height: 350px;
}

.box {
  position: fixed;
  top: 0%;
  left: 0px;
  /* bottom: 120px; */
  /* right: 0px; */
  width: 100%;
  height: 50px;
  background: greenyellow;
} */
